.MatchPage{
    display: grid;
    grid-template-columns: 22% 75%;
    grid-template-rows: 5fr auto;
    background-color: lightgray;
    border-radius: 20px;
    box-shadow: 0 8px 16px;


    .back-button{
        grid-row: 1 span;
        grid-column: 1 span;

        .back-text{
            display: flex;
            border-radius: 20px;
            box-shadow: 0 8px 16px;
            width:150px;
            height: 60px;
            margin:20px;
            align-items: center;
            justify-content: center;
        }
    }


    .teamName-matchpage{
        font-size: 2.5rem;
        margin-bottom: 30px;
        grid-column: 1 span;
        justify-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
        font-weight: bolder;
        text-shadow: 8px 8px 16px rgba(0, 0, 1, 0.5);
        animation: zoomInOut 4s infinite alternate;
    }

    .year-selector{
        justify-self: end;
        padding: 20px;
        margin-left: 20px;

    }
    .match-detail{
        margin-bottom: 100px;
        backdrop-filter: blur(10px);
    }


}
