.TeamPage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1.3fr;
    grid-template-rows: 1.3fr 0.4fr 0.9fr 0.8fr;
    border-radius: 20px;
    box-shadow: 0 8px 16px;

    .Logo{
        grid-column: 3 span;
        margin-top:10px;
        margin-left:10px;

        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        border-radius: 20px;
        box-shadow: 0 8px 16px;


    }


    .t-shirt {
        position: relative;
        grid-column: 1 span;
        margin: 15px;

        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        border-radius: 20px;
        box-shadow: 0 8px 16px;

    }


    .team-name-section{
        grid-column: 3 span;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .team-name{
            position: relative;
            font-size: 4rem;
            font-weight: bolder;
            text-shadow: 8px 8px 16px rgba(0, 0, 1, 0.5);
            animation: zoomInOut 4s infinite alternate;
        }


    }
    .match-detail-section{
        grid-column: 4 span;
        border-radius: 20px;
    }
    .win-loss-section{
        justify-self: center;
        align-self: center;
        text-shadow: 8px 8px 16px rgba(0, 0, 1, 0.5);
        animation: zoomInOut 3s infinite alternate;
    }

    .more-link{
        justify-self: center;
        align-self: center;
        font-size: 2rem ;
    }


}


@keyframes zoomInOut {
    0% {
        transform: scale(1); /* Initial scale */
    }
    50% {
        transform: scale(1.1); /* Zoom in */
    }
    100% {
        transform: scale(1); /* Zoom out to original size */
    }
}
