.MatchDetailCard{
    display: grid;
    grid-template-columns: 1fr 0.3fr 1fr;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
    border-radius: 20px;
    box-shadow: 0 8px 16px;
    padding: 5px;


    .match-date, .match-venue, .match-result{
        margin-top: 10px;
    }
    .declare-won-or-loss{

        grid-column: 1 span;
        padding: 10px;
        margin-right: 20px;
        margin-bottom: 50px;
        justify-self: start;

        .text-wl{
            text-align: left;
            justify-self: start;
            font-size: 1.3rem;
            padding: 10px;
            margin-top: 30px;
            animation: zoomInOut 3s infinite alternate;
            border: 2px solid black;
            border-radius: 40px 40px 40px 40px;
        }
    }


    .detail{
        margin-left: 20px;
    }

    .additional-detail{
        text-align: right;
        margin-right: 20px;
        & > p{
            margin-bottom: 10px;
        }
    }
}
